body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8e44ad, #c278f3);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #8e44ad;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #828888;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #d4d0d6;
}

p {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}
